body {
    display: flex;
    flex-direction: column;
}

table {
    min-width: -webkit-fill-available;
    border-spacing: 0;
}

.header {
    background: crimson;
    color: white;
    font-size: 20px;
}

.items {
    background: darkgray;
    color: white;
    font-size: 16px;
}

.item-header {
    background: lightgray;
}

.track {
    border-bottom: darkgray 1px solid;
}

.result {
    font-weight: bold;
}